.body {
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 2%;
  margin-bottom: 0%;
  padding-right: 13%;
  padding-bottom: 0%;
}

button+button {
  margin-left: 20px;
}

button {
  width: 197px;
  height: 37px;
  color: #004763;
  border-color: #004763;
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: -2px;
}

#current {
  background-color: #004763;
  color: #FFFFFF;
}

.wrapper {
  padding-top: 4em;
  color: #004763;
  box-shadow: 5px 5px 8px gray;
  padding-bottom: 1em;
  margin-top: 3em;
  padding-top: 1em;
  padding-left: 1em;
}

span+span {
  margin-left: 43px;
}

span+a {
  margin-left: 10em;
}

table {
  margin-top: 3%;
  margin-left: 15px;
  font-size: 16px;
}

th {
  column-gap: 20px;
  justify-content: space-between;
  color: #004763;
}

#App-Button {
  width: 100px;
  height: 20px;
  font-size: 12px;
  margin-top: 10px;
}

#name {
  color: #004763;
}

button:hover {
  background: #004763;
  color: #FFFFFF;
  font-weight: 900;
}

button:active {
  background-color: #004763;
}

tbody {
  height: 120px;
  padding: 10px;
}

.container-fluid {
  margin-right: 0rem;
}

#lastinline {
  margin-left: 8rem;
  background-color: #004763;
  color: #FFFFFF;
}




/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
