.body {
  margin-top: 3%;
  margin-left: 6%;
  margin-right: 10%;
  margin-bottom: 0%;
  padding-left: -10%;
  padding-right: 20%;
  padding-bottom: 1%;
  font-size: 17px;
}

button+button {
  margin-left: 20px;
}

button {
  width: 197px;
  height: 37px;
  color: #004763;
  border-color: #004763;
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: -2px;
}

#outline {
  width: 150px;
  height: 37px;
  color: #004763;
  border-color: #004763;
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: -2px;
}

#current {
  background-color: #004763;
  color: #F1F1F0;
}

.wrapper {
  padding-top: 4em;
  color: #004763;
  box-shadow: 5px 5px 8px gray;
  padding-bottom: 1em;
  margin-top: 3em;
  padding-top: 1em;
  padding-left: 1em;
  width: 150%;
}

a+a {
  margin-left: 40px;
}

a+b {
  padding:10px;
}

#selectpaydropdown {
  margin-left: 8em;
  margin-top: -2em;
}

#processbtn {
  margin-left: 16em;
  margin-top: -2.3em;
  background-color: #004763;
  color: #F1F1F0;
  display: block
}

#App-Button {
  color: #004763;
  border-color: #004763;
  width: 90px;
  padding: 5px;
  font-size: 15px;
  line-height: 1;
  height: 40px;
}

b+a {
  margin-left: 6em;
}

table {
  margin-top: 3%;
  margin-left: 15px;
  font-size: 16px;
}

th {
  column-gap: 10px;
  justify-content: space-between;
  color: #004763;
}

#name {
  color: #004763;
  background-color: #F1F1F0;
}

button:hover {
  background: #004763;
  color: #FFFFFF;
}

button:active {
  background-color: #004763;
}

tbody {
  height: 240px;
  padding: 10px;
}

.container {
  margin-top: 3rem;
  margin-left: -1.5rem;
}
/* Style The Dropdown Button */
.dropbtn {
  border-color: #004763;
  font-size: 16px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
